header {
    margin-top: 3.75rem;
    margin-bottom: 4.375rem;
    display: flex;
    justify-content: space-between;
}

img {
    height: 80px;
    border: 1px solid var(--color-brand-1);
    border-radius: 100%;
}


.head-profile {
    display: flex;
    gap: 1.25rem;
}

.profile-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-description h2 {
    color: var(--color-grey-7);
    font-size: var(--font-title-2);
    margin-bottom: 0.75rem;
}

.profile-description span {
    color: rgba(255, 255, 255, 0.5);;
}

.div-btn-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

