.user{
    font-family: var(--font-family);
    padding: 0.5rem;
    color: var(--color-grey-7);
    height: 2.375rem;
    background-color: var(--color-grey-1);
    border: 1px solid var(--color-grey-3);
    outline: none;
}

.user:focus{
    border: 1px solid var(--color-brand-1);
}

.button-disabled {
    color: rgba(255, 255, 255, 0.35);    
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.375rem;
    background-color: rgba(214, 51, 108, 0.4);
    border-radius: var(--radius-2);
    border: none;
    cursor: pointer;
}

.button-active {
    color: var(--color-grey-7);    
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.375rem;
    background-color: var(--color-brand-2);
    border-radius: var(--radius-2);
    border: none;
    cursor: pointer;
}

.hide{
    display: none;
}

.user-not-found{
    color: var(--color-alert);
    font-size: var(--font-text-2);
}

.img-spinner{
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes motion {
    0% {
      transform: translateX(0) scale(1);
    }
    25% {
      transform: translateX(-50px) scale(0.3);
    }
    50% {
      transform: translateX(0) scale(1);
    }
    75% {
      transform: translateX(50px) scale(0.3);
    }
    100% {
      transform: translateX(0) scale(1);
    }
}

